<p id="notice"><%= notice %></p>

<script>
$( document ).ready(function() {
  $( "#send_message_button" ).click(function() {
    $( "#send_message_form" ).slideToggle( "slow", function() {
    // Animation complete.
    });
  });
});
  var appi = angular.module('send_message_app', []);
appi.controller('MainCtrl', [
'$scope',
 function($scope){
  $scope.message = {};
  $scope.message.content = " ";
  $scope.sendMessage = function(){
    $scope.user_id=(/users\/(\d+)/.exec(window.location.href)[1]);
    $( "#send_message_form" ).slideToggle( "slow", function() {
        // Animation complete.
    });
    var param_message = {
      content: $scope.message.content,
      user_id: $scope.company_id, 
    }
    console.log(param_message.content + " param_message");
    $.post('/send_message_for_user', { message: param_message })
    .success(function(data, status) {
        $scope.message.content = " ";
        $( "#notice" ).append("<div class='alert alert-success'> <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Viesti lähetetty!</div>");
    }).error(function(data, status) {
        alert("error");
    });
  };
}]);
</script>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% if @user != current_user %>

<div class="btn btn-primary" id="send_message_button">Lähetä viesti</div></br>

<div ng-app="send_message_app" ng-controller="MainCtrl">

  <div id="send_message_form" style="display:none;"></br>
    Lähetä viesti </br>
    <textarea type='text' ng-model="message.content" name='message[content]' rows="5" cols="80"> </textarea> </br></br>
    <button ng-click='sendMessage()'>Lähetä</button>
  </div>
  </br>
</div>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
